.card {
    border: 5px solid black;
    overflow: hidden;
    /*width: 100px; /* Largeur de la carte */
    height: 100px; /* Hauteur de la carte */
    margin-bottom: 20px; /* Espacement entre les cartes */
    transition: transform 0.3s ease;
    background-color: white;
    margin: 50px; /* Supprimer une des déclarations de margin */
}

.card img {
    width: 100%; /* Pour remplir toute la largeur de la carte */
    height: 100%; /* Pour remplir toute la hauteur de la carte */
    object-fit: fill;
}

.card:hover {
    transform: scale(2.5);
}
