.page {
    border: 10px solid black;
    border-radius: 30px; /* Réduire le rayon de la bordure */
    padding: 20px;
    position: relative;
    margin-bottom: 5%; /* Réduire la marge inférieure */
    margin: 5%; /* Réduire les marges */
}

.personnage-container {
    position: relative;
}

.gallery2, .second-gallery2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px; /* Réduire l'espacement en haut */
    background-color: #c73333;
    border: 5px solid #c73333;
    border-radius: 10px;
}

.intro-text2, .second-intro-text2 {
    padding-top: 4%; /* Réduire l'espacement en haut */
    text-align: center;
    margin-bottom: 10px; /* Réduire l'espacement en bas */
}

.title2 {
    font-size: 24px; /* Réduire la taille de la police */
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(213, 46, 46);
    margin-right: 10px; /* Réduire la marge à droite */
    margin-top: 4px; /* Réduire la marge en haut */
    margin-left: 13px; /* Réduire la marge à gauche */
    letter-spacing: 2px; /* Réduire l'espacement entre les lettres */
}

.subtitle2 {
    font-size: 16px; /* Réduire la taille de la police */
    color: #808080;
    margin-bottom: 5px; /* Réduire l'espacement en bas */
    font-family: Arial, sans-serif;
    font-style: italic;
}

.highlighted-text2 {
    font-weight: bold;
    font-size: 16px; /* Réduire la taille de la police */
    color: black;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
