/* App.css */

/* Styles for #root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex; /* Utiliser Flexbox */
  justify-content: flex-start; /* Aligner les éléments horizontalement à gauche */
  
}





/* Styles for logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Keyframes for logo-spin animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply logo-spin animation to logo */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Styles for card */
.card {
  padding: 2em;
}

/* Styles for read-the-docs */
.read-the-docs {
  color: #888;
}

/* Additional styles for Header, Footer, and Navigation Bar */
.header {
  background-color: #f2f2f2; /* gris clair */
  color: #333; /* texte gris foncé */
  padding: 10px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  background-color: #f2f2f2; /* gris clair */
  color: #333; /* texte gris foncé */
  padding: 10px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  background-color: #444; /* gris foncé */
  color: #fff;
  padding: 10px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
