.home-container {
  display: block; /* Affiche les éléments en bloc pour les écrans de téléphone */
  margin-top: 4%;
  width: 90%; /* Réduire la largeur pour mieux s'adapter aux petits écrans */
  margin: 0 auto; /* Centrer le contenu */
}

.content {
  padding: 20px;
}

.background-image {
  display: none; /* Masquer l'image d'arrière-plan pour les écrans de téléphone */
}

.schedule {
  background-color: #f8f3ff;
  border: 2px #c73333 solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 20px;
}

.schedule ul,
.custom-ul {
  list-style: none;
  padding-left: 0;
}

.schedule ul li,
.custom-ul li {
  margin-left: 20px;
}
