.home-container {
  display: flex;
}

.content {
  flex: 1; /* Le contenu prendra autant d'espace que possible */
  padding: 20px; /* Ajout d'un padding pour l'espace autour du contenu */
  padding-left: 0%;
  padding-right: 100px;
  padding-top: 6%;
}

.background-image {
  width: 15%; /* Largeur de l'image */
  background-image: url('background.jpeg'); /* Chemin vers votre image */
  background-size: 88%; /* Pour couvrir tout le conteneur avec l'image */
  background-position: right; /* Position de l'image à droite */
  height: 550px;
  padding-left: 300px; /* Ajouter un espace entre le texte et l'image */
  background-repeat: no-repeat;
}

.content h1 {
  margin-top: 0; /* Supprime la marge supérieure pour le titre */
}
